---
import type { CollectionEntry } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";

type Props = CollectionEntry<"posts">["data"];

const [title, description] = ["About", "Me myself and my code"];
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
  </head>
  <body>
    <Header/>
    <main class="site-main section-inner thin">
      <article>
        <h1>{title}</h1>
        <div>
          <p>
            I am Senior Software Engineer based in New Zealand. I tend to start many passion projects after plenty of research.
            A lot of my	projects tend to focus on learning the underlying technology used rather than production ready project.
          </p>
          <p>
            I mainly focus on writing backend systems and occasionaly touch
            some front-end (this website being one of the front-ends 😅).
          </p>
        </div>
      </article>
    </main>
  </body>
</html>
